.navbar {
    color: #2e266f;
    text-align: center;
    font-family: Airbnb Cereal App;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }